.navbar{
  background-color: #04009A;
}

.nav-link, .nav-brand{
  color: #c0fefc;
  cursor: pointer;
}

.nav-link{
  margin: 1em;
}

.navbar-brand{
  margin-left: 1em;
}

.navbar-toggler{
  background-color: #77acf1;
  margin-right: 3%;
}

.navbar-collapse{
  margin-left: 1em;
}

.bg{
  width: 100%;
  height: 100%;
}
